<div class="row">
    <h1>Proyecto Realizados</h1>
    <div class="contenedor">
        <div class="col-xs-12 col-md-7 col-lg-7 parte1">
            <h2>Proyecto Uno</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda ab similique dignissimos alias tempore architecto autem dolore, quaerat quasi voluptatibus porro libero! Blanditiis quo quaerat soluta, sapiente explicabo provident corrupti.</p>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
            <img src="../../../assets/proyectofoto.jfif"
            class="img-fluid img-proyecto">
    
        </div>
    </div>
    </div>