.row{
    padding:20px;
}

div{
    background-color: rgba(250, 250, 250, 0.91)es;
    text-align: center;

}

#nombre{
    font-weight: bold;
    margin-top: 10%;
    color: #198782;
   
}

#FSDJ{
    color: #8b0e77;
}
@media (min-width: 576px){
    #fotoperfil{
        position: absolute;
        width: 15%;
        border-radius: 100%;
        box-shadow: 3px 3px 3px cadetblue;
        left: 3%;
        top: 600px;
    }
}

@media (max-width: 576px){
    #fotoperfil{
        position: absolute;
        width: 32%;
        border-radius: 100%;
        box-shadow: 3px 3px 3px cadetblue;
        left: 32%;
        top: 900px;
    }
}

h1{
    color: #198782;
}