<div class="row">   
   
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/foto perfil.png"
        class="img-fluid" id="fotoperfil">
    </div>

    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
       <p id="nombre">Tobias Gualchi</p>
        <p id="FSDJ">Full Stack Developer Jr</p>
    </div>

    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de mi</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio, temporibus itaque ex veniam unde iure maxime, 
                harum earum voluptate dolores quas tempore repellat a architecto, eius dolorum et tempora repudiandae!</p>
            </span>
    </div>
</div>